* {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Inter', sans-serif; /* Set a default font-family */
  background-color: #fcfcfc; /* Set a default background color */
  color: #333333; /* Set a default text color */
}

.dep-choose-container{
  padding: 5px 20px;
}

.dep-choose-button {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: green;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin: 10px 0px;
}

.dep-choose-button:hover {
  background-color: rgb(0, 71, 0);
  color: white;
  text-decoration: none;
}




.basicrow{
  background-color: #dadadc;
  padding: 10px;
}

.basiccont{
  background-color: white;
  position: relative;
  margin-bottom: 10px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 5px;

}
.basiccont .bggreen {
  background-color: #f2fde8;
  border-radius: 5px;
}
.bggold{
  background-color: gold;
}

.stretch-button {
  width: 60%; /* Adjust the width as needed */
}

.dropdown-menu {
    display: none;
  }
  
  .shows {
    display: block;
  }

  .bullet-cell::before {
    content: "\2022"; /* Unicode bullet symbol */
    margin-right: 5px; /* Optional: Add spacing between bullet and content */
  }
  /*.fixed-width-column { */
     /* Adjust the maximum width as per your requirements */
   /* max-width: 8.33%; */
   /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
   
  /*}
  .table {
    table-layout: fixed;
  } */
  table {
    border-collapse: collapse; /* Improve cell spacing */
  }
  .tablecontainer {
    margin-right: 1px;
    margin-left: 4px;
    margin-top:4px;
    margin-bottom:4px;
    overflow-x: scroll;
    display: flex; /* Add flexbox */
    flex-wrap: nowrap; /* Prevent wrapping */
    width: 100%;
  }
  .tablecontainer::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */ 
    background-color: #dadadc; /* Background color of the scrollbar */
  }
  
  .tablecontainer::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }
  
  .tablecontainer::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }

  @media (min-width: 576px) {
    .tablecontainer {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .tablecontainer {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .tablecontainer {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .tablecontainer {
      max-width: 1140px;
    }
  }
  th{
 background-color:#e2ebda;
    
  }
  .recordth th{
    background-color:rgb(233, 233, 233);
       
     }
  .firsttable, .firsttable th, .firsttable td {
    border: 1px solid #bababa;
    min-width: 130px;
    max-width: 130px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-right: 0;
  }
  .secondtable, .secondtable th, .secondtable td {
    border: 1px solid #bababa;
    min-width: 130px;
    max-width: 130px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
  }
  .accounttable, .accounttable th, .accounttable td {
    border: 1px solid #bababa;
    min-width: 187px;
    max-width: 187px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
  }
  .accounttable .actions {
    min-width: 195px;
    max-width: 195px;
  }
  .accounttable .username {
    min-width: 108px;
    max-width: 108px;
  }
  .accounttable .name {
    min-width: 120px;
    max-width: 120px;
  }
  .accounttable .role {
    min-width: 100px;
    max-width: 100px;
  }
  .accounttable .edit {
    min-width: 105px;
    max-width: 105px;
  }
  .accounttable .department {
    min-width: 290px;
    max-width: 290px;
  }
  .accounttable .dept {
    min-width: 360px;
    max-width: 360px;
  }
  .accounttable .cancel {
    min-width: 70px;
    max-width: 70px;
  }
  .accounttable {
    flex-shrink: 0;
    }
  
    .firsttable {
     float:left;
    }
    .secondtable {
    flex-shrink: 0;
    }

    .recordtable, .recordtable th, .recordtable td {
      border: 1px solid #bababa;
     
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
    .recordtable .majority{
      min-width: 133px;
      max-width: 133px;
    }
    .recordtable .num{
      min-width: 100px;
      max-width: 100px;
      text-align: center;
    }

    .recordtable .extension{
      min-width: 240px;
      max-width: 240px;
    }

    .btn-gold {
      color: black;
      background-color: gold;
      
    }

  .btn-gold:hover {
    color: black;
    background-color: transparent;
    border-color: gold;
  }
  .btn-info:hover {
    color: black;
    background-color: transparent;
    border-color: #0dcaf0;
  }
  
  
  .btn.btn-success:hover {
    background-color: transparent;
    color: #198754;
    border-color: #198754;
  }
  .btn-hover-outline-primary:hover {
    background-color: transparent;
    border-color: var(--bs-primary);
    color: var(--bs-primary);
  }
  .highlight {
    background-color: #ffc4ca;
}

.bi-arrow-up {
  border: none;
  outline: none;
  box-shadow: none;
}
.container-fluid .vlr-table th,
.container-fluid .vlr-table td {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

#subtask li:hover {
  background-color: #f2f2f2; /* Replace with the desired hover background color */
  cursor: pointer;
}

.divhover:hover{
 
  cursor: pointer;
}
.containerhover:hover{
  cursor: pointer;
}
.hrefnav:hover{
  background-color: darkgreen;
  color: gold;
  font-weight: normal;
 
}
.currentdiv{
  background-color:darkgreen;
  color:white;
}
.navtohover {
  position: relative;
}
.success-circle {
  display: inline-flex; /* Center horizontally and vertically */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 25px;
  height: 25px;
  background-color: gold;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  font-weight: bold;
  font-size: 85%;
}

.navtohover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
}

.navtohover:hover::after {
  transform: scaleX(1);
}
.currenthover {
  position: relative;
  border-bottom: 3px solid gold;
}
/*container for a selected activity*/
.maincontainer {
  width: 100%;
  background-color: #f9f9f9;
  margin-right: auto;
  margin-left: auto;
  min-height: 1080px;
}

@media (min-width: 576px) {
  .maincontainer {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .maincontainer {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .maincontainer {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .maincontainer {
    max-width: 1140px;
  }
}

.mainnav{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: #1b651b;
}
.position-triangle {
  position: relative;
}
.position-triangle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e4e4e4;
}
.mainnavpassive{
  background-color: #ffffff;
  color: rgb(68, 68, 68);
}
.mainnavpassive:hover {
  background-color: rgb(236, 236, 236);
  color: rgb(39, 39, 39); 
  cursor: pointer;
}
.sidecont1{
  position:relative;
  border-bottom: 1px solid #dee2e6 !important;
  padding: 5px;
}

.sidecont1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background-color: gold;
}

.sidecont2{
  position:relative;
  border-bottom: 1px solid #dee2e6 !important;
  padding: 5px;
}

.sidecont2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background-color: #1b651b;
}

.underline-space {
  border-bottom: 1px solid #000;
}
.flex-container {
  display: flex;
  align-items: center; /* Optional: Align items vertically in the center */
}
.inline-div {
  flex: 1; /* or inline-block, whichever suits your layout better */
}

.flexmid {
  display: flex;
  justify-content: center;
}
.fc-event {
  background-color: darkgreen; /* Change to your desired color */
  padding-left: 7px;
}
div {
  user-select: none;
}
/* Define a CSS keyframes animation for fading in and out */
@keyframes fadeInOut {
  0% {
      opacity: 0; /* Start with no opacity */
  }
  50% {
      opacity: 1; /* Fade in to full opacity */
  }
  100% {
      opacity: 0; /* Fade out to no opacity */
  }
}

/* Apply the animation to the loading span */
#loadingSpan {
  animation: fadeInOut 2s infinite; /* Use fadeInOut animation, 2 seconds duration, infinite loop */
}
/* Default styles for larger screens */
/* Default styles for larger screens */
.custom-dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}

/* Default styles for larger screens */
.dropdown-text {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

/* Default styles for larger screens */
.dropdown-options {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  list-style: none;
  padding: 0;
}

/* Default styles for larger screens */
.dropdown-options li {
  padding: 8px;
  cursor: pointer;
  border-top: 1px solid #ccc;
}

/* Default styles for larger screens */
.dropdown-options li:hover {
  background-color: #f0f0f0;
}

/* Media query for smaller screens (769px to 991px) */

.numberInput {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 75px; 
  text-align: center; 
}

/* Add a focus style similar to Bootstrap */
.numberInput:focus {
  border-color: #007bff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.step-wrapper {
  display: flex;
}

.step {
  display: block;
  padding-top: 8px;
  padding-left: 26px;
  position: relative;
  width: 180px;
  height: 40px;
  font-family: Arial;
  color: rgb(27, 27, 27);
  background-color: white;
    

  
  &.highlight {
    color: white;
    background-color: green;

    &:after {
      background-color: green;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    left: calc(100% - 15px);
    top: 50%;
    margin-top: -14px;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 1px -1px 0 0 #ccc;
    z-index: 5;
  }
}
.message-box {
  display: none;
  position: absolute;
  background-color: #505050;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure the message box appears above other content */
  font-size: 10px;
}

/* Style for the element you want to hover over */
.hover-element {
  position: relative; /* Important for positioning the message box */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Show the message box on hover */
.step:hover .message-box {
  display: block;
}

.steps {
  display: block;
  padding-top: 8px;
  padding-left: 26px;
  position: relative;
  width: 180px;
  height: 40px;
  font-family: Arial;
  color: white;
  background-color: green;
}

  .steps:hover .message-box {
    display: block;
  }
  .input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1; /* Take up remaining space in the container */
    margin-right: 10px; /* Add some spacing between the input and button */
}


