.dropdown-menu {
    display: none;
  }
  
  .shows {
    display: block;
  }
  /**#objective-select .option .item {
    white-space: pre-wrap;
    word-wrap: break-word;
  }**/

  .hide-text {
    color: transparent;
  }
 